@import url("https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap");
:root {
  --primary-color: white;
  --secondary-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
/* COMMON STYLE */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 10px;
  font-family: "Permanent Marker", cursive;
}

/* VISUALIZER */
.visualizer {
  height: 95vh;
  overflow: hidden;
}

.bar-container {
  height: 80vh;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.main-controls,
.secondary-controls {
  gap: 45px;
  padding: 5px;
}
/* BARS */

.bar {
  margin: 0 0.5px;
}

/* FOOTER STYLES */
.footer {
  height: 100px;
  width: 100%;
  /* margin-top: 20vh; */
}

.footer ul {
  gap: 40px;
  list-style: none;
  color: var(--secondary-color);
}
.footer-links ul li {
  cursor: pointer;
}
.footer-links {
  margin-top: 30px;
}
/* BTN */
.btn-primary {
  color: var(--secondary-color);
  padding: 5px;
}
.btn-primary:hover {
  filter: brightness(99%);
}
